body {
  background-color: #fb9062;
}

a {
  color: #9b1d58;

}
nav {
  
   background-color:rgb(250, 197, 128);
   width:100%; 
    margin: 0 auto;
     margin-top:20px;
      padding-top:10px;
      flex:1;
  order: 0;
  
}
nav ul{
  text-align: left;
  padding-left:20px;
  padding-right:20px;
  list-style-type:none;
  font-size:130%;
  margin-left:10px;
}

header {
  color: rgb(250, 217, 128);
  margin: 0 auto;
  width:100%; 
  background-color:	#e7555e;
   padding-top: 10px; 
  height:120px;
max-width:960px; text-align:right;

}
header h2{
  font-size:250%;
  margin-right:5%;
}
footer {
  color: 	rgb(250, 217, 128);
  max-width:100%; background-color:#e7555e; margin: 0 auto; margin-top:10px; padding-top:10px;
}

table tr even{
  border:solid 1px #000;
  background-color: #fef8b6;
}
table tr odd{
  border:solid 1px #000;
  background-color: #EB697D;
}
header img{
  float:left;margin:20px; width:100px; height:100px;
}
.div-1{
background-color:rgb(250, 197, 128); margin: 0 auto; padding-top:10px;width:100%;
}
#main-aside-wrapper {
  flex-direction: column;
  display: flex;
}
#main-aside-wrapperwrapper main, #main-aside-wrapper aside{


  padding-top: 10px;
}
#main-aside-wrapper main {
  margin-top:-10px;
  width:100%;
  background-color:	#e7555e;
  flex: 3;
  order: -1;


}
#main-aside-wrapper .aside-1{
  margin-top: 10px;
  flex:1;
  order: 2;
}
#main-aside-wrapper .footer-1{
  width:100%;
  background-color:	#e7555e;
flex:1;
order:7;
}
#main-aside-wrapper .aside-2{
  flex:1;
  order: 4;
}
#main-aside-wrapper .aside-3 {
  flex: 1;
  order: 3;
}
@media screen and (min-width: 800px) {
  #main-aside-wrapper nav ul li {
    flex-direction: column;
    flex:1;
    order: 1;
  }

  #main-aside-wrapper .aside-2{
    flex:1;
    order: 3;
  }
  #main-aside-wrapper .aside-3 {
    flex: 1;
    order: 4;
  }
  nav{
      max-width:960px;padding-left:20px;
  }
  header img{
      float:left;margin:20px; width:100px; height:100px;
    }
    nav ul li{
      display:inline-block;
      margin-left:10%;
      margin-right:10%;
      flex:1;
      order: 2;
      text-align:center; font-size:90%;
      
    }
    header{
      text-align:left;
    }
    header h2{
      font-size:200%;
      margin-right:0px;
    } 
    .div-1{
      max-width:960px; background-color:rgb(250, 197, 128); padding:10px;
    }
}
ul.slick-dots{
  list-style-type: none;  
  
}
.slick-dots li{


  display: inline-block;

}
 
